{% extends "main_page_module/base.html" %}

{% block extraheader %}
<script>
  function update_db_f(){
      $("#results").empty();
      document.getElementById("update_db_b").disabled = true;

      var loadingSpinner = document.createElement("div");
      loadingSpinner.setAttribute('class', 'd-flex align-items-center');
      loadingSpinner.innerHTML = "<b>Loading apps from the Open Store...</b>";

      var insideSpinner = document.createElement("div");
      insideSpinner.setAttribute('class', 'spinner-border ml-auto');
      insideSpinner.setAttribute('role', 'status');
      insideSpinner.setAttribute('aria-hidden', 'true');

      loadingSpinner.appendChild(insideSpinner);
      document.getElementById("results").appendChild(loadingSpinner);

      

  }
</script>
{% endblock extraheader  %}

{% block nav_index %}active{% endblock nav_index %}


{% block flashes %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div>
        {% for category, message in messages %}
          {% if category == "error" %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
            <br>
          {% else %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
            <br>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
{% endblock flashes %}


{% block content%}
<hr>
<h1>Hello, there!</h1>
<span class="badge badge-danger">Number of apps in the DB: {{ all_apps_num }}</span>
<span class="badge badge-dark">Number of distinct languages: {{ number_lan }}</span>
<br>
<br>

<div class="input-group">
  <input class="form-control" id ="search" type="search" placeholder="Search" size="50" aria-label="Search" autofocus="">
  <div class="input-group-append">
    <select class="custom-select" id="choosen_languages">
      <option value="all_languages" selected>All languages</option>
      {% for language in lan %}
      <option value="{{ language }}">{{ language }}</option>
      {% endfor %}
    </select>
  </div>
</div>

<hr>
<div class="container">
  <div id="results">
    <h4>Welcome to the Medjed app details for the Open Store, Ubuntu Touch.</h4>
    <p>This app was created to ease the way we scavange code for UT apps, as there is a lack of documentation on the internet.</p>
    <p><b>Now search something!</b></p>
  </div>
</div>
<script>
  
  function load_results(){
    var search_key = document.getElementById("search").value;
    var language_key = document.getElementById("choosen_languages").value;

    var results=[];

    $.post('/search/', {"key": search_key, "language_key": language_key}, function(data, textStatus) {
      //data contains the JSON object
      //textStatus contains the status: success, error, etc

      var searchResults = document.createElement("div");
      searchResults.setAttribute('class', 'container');
      var count = Object(data);
      console.log(count);

      if (0 < Object.keys(data).length) {

        for (const [key, value] of Object.entries(data)) {
          var newMedia = document.createElement("div")
          newMedia.setAttribute('class', 'media  bg-light');

          var newBodyLink = document.createElement("a")
          newBodyLink.setAttribute('class', 'btn btn-secondary align-self-center mr-3');
          newBodyLink.setAttribute('href', 'https://open-store.io/app/' + key);
         // newBodyLink.textContent = "View the content";

         var newBodyImage = document.createElement("img")
         newBodyImage.setAttribute('src', value[2]);
         newBodyImage.setAttribute('height', '64');
         newBodyImage.setAttribute('width', '64');
         newBodyLink.appendChild(newBodyImage);

          var newBody = document.createElement("div")
          newBody.setAttribute('class', 'media-body');

          var newBodyTitle = document.createElement("h5")
          newBodyTitle.setAttribute('class', 'mt-0');
          newBodyTitle.textContent = value[0];
          var newBodyText = document.createElement("p")
          newBodyText.innerHTML = value[1];

          var line = document.createElement("hr")
          
          newBody.appendChild(newBodyTitle);
          newBody.appendChild(newBodyText);
          
          newMedia.appendChild(newBodyLink);
          newMedia.appendChild(newBody);
          
          searchResults.appendChild(newMedia);
          searchResults.appendChild(line);
          
        }

      } else {
        var noResults = document.createElement("p")
        noResults.textContent = "We searched high and low, and we found nothing... its clearly because you were not specific enough.";
        searchResults.appendChild(noResults);
      }

      $("#results").empty();
      document.getElementById("results").appendChild(searchResults);
    }, "json");

  };

  document.getElementById("search").onkeyup = load_results;
  document.getElementById("choosen_languages").onchange = load_results;

</script>

{% endblock content %}